POSTGRES_DB=usersdb
POSTGRES_USER=users
POSTGRES_PASSWORD=users
POSTGRES_HOST=db
POSTGRES_PORT=5432
FRONTEND_ORIGIN=http://localhost:5173

# DEBUG=1

# Login session properties start
# IDLE_TIMEOUT_SECONDS=60

# This becomes your idle timeout window (example: 1800 seconds (30 minutes))
# If the user is inactive for > IDLE_TIMEOUT_SECONDS seconds, their refresh expires, and the session ends.
# Short access — forces periodic refreshes
# ACCESS_TOKEN_LIFETIME = 120

# JWT_RENEW_AT_SECONDS=100

# Turn on rotation so that each refresh "slides" the window forward
# ROTATE_REFRESH_TOKENS = 0
# BLACKLIST_AFTER_ROTATION = 0

# ALGORITHM = HS256

# AUTH_HEADER_TYPES is a list
# AUTH_HEADER_TYPES = Bearer,

# Login session properties end
# DJANGO_LOG_LEVEL = INFO
