django>=5.0,<6
psycopg2-binary
pillow
python-dotenv
# REST
djangorestframework
django-cors-headers
django-filter
djoser
drf-spectacular
# Auth
djangorestframework-simplejwt
# Excel
openpyxl
pandas
requests
