services:

  ui_tests_pw:
    build: { context: ., dockerfile: ./Dockerfile }
    dns: [8.8.8.8, 1.1.1.1]
    environment:
      HOST_ARTIFACTS: /tests/artifacts
      DISPLAY: $DISPLAY
    ports: ["8000:8000"]
    volumes:
      - media_data:/app/media
      - ${HOST_ARTIFACTS}:/tests/artifacts
    stop_signal: SIGINT
    stop_grace_period: 5s

volumes:
  pgdata:
  media_data:
